SECRET_KEY = 'django-secret-key'

DEBUG = True

ALLOWED_HOSTS = ['127.0.0.1']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'db_name',
        'HOST': 'host_address',
        'PORT': 'host_port',
        'USER': 'db_user',
        'PASSWORD': 'db_password',
    }
}

# email configs
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_USE_TLS = True
EMAIL_PORT = 587
EMAIL_HOST_USER = Your Google Email
EMAIL_HOST_PASSWORD = Your Email Password