{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% crispy category_form %}
            </div>
        </div> 

        <table class="table table-fluid mt-5">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Remove</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>
                            <a class="btn-sm btn-danger" type="button" href="{% url 'blog:remove_category' category.pk %}">
                                <i class="ti-trash"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn-sm btn-warning" type="button" href="">
                                <i class="ti-pencil"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}

