{% extends 'base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <!-- page-title -->
    <section class="section bg-secondary py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4>{{ post.title }}</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- /page-title -->

    <div class="container">
        <!-- Text -->
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline d-flex justify-content-between py-3">
                    <li class="list-inline-item"><i class="fa-solid fa-user mr-2"></i>Post by {{ post.author }}</li>
                    <li class="list-inline-item"><i class="fa-solid fa-calendar mr-2"></i>{{ post.published_date | naturalday }}</li>
                </ul>

                {% if post.thumbnail %}
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <img 
                                src="{{ post.thumbnail.url }}" 
                                alt="{{ post.title }}" 
                                class="w-auto img-fluid mb-4"
                                style="max-height: 400px;"
                            >
                        </div>
                    </div>
                {% endif %}

                <div class="content">
                    {{ post.text | safe }}
                </div>
            </div>
        </div>

        <!-- Likes & Dislikes -->
        <div class="row mt-5 col-lg-12">
            <div class="row col-lg-12">
                <h5>Did you like this post?</h5>
            </div>
            <div class="row col-lg-12" style="gap: 16px;">
                <div class="justify-content-between text-center">
                    <a href="{% url 'blog:like_post' pk=post.pk like_bool=True %}">
                        <i class="fa-solid fa-thumbs-up fa-2x
                            {% if user_approval and user_approval.is_approved %} text-primary {% else %} text-secondary {% endif %}"
                        ></i>
                    </a>
                    {% if positive_approvals %}
                        <span class="ml-2">{{ positive_approvals }}</span>
                    {% endif %}
                </div>
                <div class="justify-content-between text-center">
                    <a href="{% url 'blog:dislike_post' pk=post.pk like_bool=False %}">
                        <i class="fa-solid fa-thumbs-down fa-2x
                            {% if user_approval and not user_approval.is_approved %} text-primary {% else %} text-secondary {% endif %}"
                        ></i>
                    </a>
                    {% if negative_approvals %}
                        <span class="ml-2">{{ negative_approvals }}</span>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Comments -->
        <hr />
        {% if not request.user.is_authenticated %}
            <p>Want to comment? <a href="{% url 'account:login' %}">Login</a></p>
        {% else %}
            <form action="" method="post">
                {% csrf_token %}
                {{ comment_form | crispy }}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        {% endif %}

        <hr />
        <h3>Comments</h3>

        {% for comment in comments %}
            <div class="card mt-3">
                <div class="card-header d-flex justify-content-between">
                    <div class="align-items-center">
                        <i class="fa-solid fa-user mr-1"></i>
                        <span>{{ comment.author.username }}</span>
                    </div>
                    <span class="align-items-center">
                        <i class="fa-solid fa-calendar mr-1"></i>
                        <span>{{ comment.comment_date | naturalday }}</span>

                        {% if request.user.is_staff %}
                            <button 
                                class="btn-sm btn-danger ml-2" type="button"
                                onclick="openRemoveCommentModal({{ comment.id }}, '{{ comment.author.username }}')"
                            >
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        {% endif %}
                    </span>
                </div>
                <div class="card-body">
                    {{ comment }}
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Remove Comment Modal -->
    <div id="removeCommentModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Remove Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div id="removeText" class="col-lg-12">
                            Confirm remove?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="confirmRemoveButton" class="btn btn-primary" href="">Yes</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/post.js' %}"></script>
{% endblock scripts %}