{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'partial/_head.html' %}
    <title>Document</title>
</head>

<body>
    <div class="bg-secondary row justify-content-center align-items-center m-0" style="width: 100vw; height: 100vh;">
        <div class="col-xl-4 col-lg-6 col-lg-8 m-0 p-1">
            <div class="card card-body shadow p-5">
                <h3 class="text-center mb-3">Sign Up</h3>
                <form action="" method="post" autocomplete="off">
                    {% csrf_token %}

                    {{ register_form | crispy }}

                    <div class="row">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'plugins/jQuery/jquery.min.js'%}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
    <!-- slick slider -->
    <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
    <!-- masonry -->
    <script src="{% static 'plugins/masonry/masonry.js' %}"></script>
    <!-- instafeed -->
    <script src="{% static 'plugins/instafeed/instafeed.min.js' %}"></script>
    <!-- smooth scroll -->
    <script src="{% static 'plugins/smooth-scroll/smooth-scroll.js' %}"></script>
    <!-- headroom -->
    <script src="{% static 'plugins/headroom/headroom.js' %}"></script>
    <!-- reading time -->
    <script src="{% static 'plugins/reading-time/readingTime.min.js' %}"></script>

    <!-- Main Script -->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>