{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'partial/_head.html' %}
    <title>Register</title>

    <style>
        .asteriskField{
            display: none;
        }
    </style>
</head>

<body>
    <div class="row justify-content-center align-items-center m-0" style="width: 100vw; height: 100vh;">
        <div class="col-xl-4 col-lg-4 col-lg-6 m-0 p-1">
            <div class="card shadow pl-3 pr-3 border-0">
                <div class="card-header bg-white text-center border-0 mt-3">
                    <h3>Register</h3>
                </div>
                <div class="card-body">
                    {% include 'partial/_messages.html' %}
                    {% crispy register_form %}
                </div>
                <div class="card-footer bg-white border-0 text-center">
                    <div>
                        <p>Already have an account? <a href="{%url 'account:login'%}">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'plugins/jQuery/jquery.min.js'%}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
    <!-- slick slider -->
    <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
    <!-- masonry -->
    <script src="{% static 'plugins/masonry/masonry.js' %}"></script>
    <!-- instafeed -->
    <script src="{% static 'plugins/instafeed/instafeed.min.js' %}"></script>
    <!-- smooth scroll -->
    <script src="{% static 'plugins/smooth-scroll/smooth-scroll.js' %}"></script>
    <!-- headroom -->
    <script src="{% static 'plugins/headroom/headroom.js' %}"></script>
    <!-- reading time -->
    <script src="{% static 'plugins/reading-time/readingTime.min.js' %}"></script>

    <!-- Main Script -->
    <script src="{% static 'js/script.js' %}"></script>

    <script>
        const labelElements = document.getElementsByTagName('label');
        
        for (let index = 0; index < labelElements.length; index++) {
            labelElements[index].setAttribute('class', 'small mb-1')
        }
    </script>
</body>

</html>