{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        {% include 'partial/_head.html' %}
        <title>Reset Password</title>
    </head>
    <body class="h-100 w-100">
        <main class="row h-100 justify-content-center align-items-center m-0">
            <div class="col-xl-4 col-lg-4 col-lg-6 m-0 p-1">
                <div class="card shadow border-0">
                    <div class="card-header bg-white border-0">
                        <div class="text-center">
                            <h3>Success</h3>
                            <p>Your password has been changed. <a href="{% url 'account:login' %}">Click here to login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- jQuery -->
        <script src="{% static 'plugins/jQuery/jquery.min.js'%}"></script>
        <!-- Bootstrap JS -->
        <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- slick slider -->
        <script src="{% static 'plugins/slick/slick.min.js' %}"></script>
        <!-- masonry -->
        <script src="{% static 'plugins/masonry/masonry.js' %}"></script>
        <!-- instafeed -->
        <script src="{% static 'plugins/instafeed/instafeed.min.js' %}"></script>
        <!-- smooth scroll -->
        <script src="{% static 'plugins/smooth-scroll/smooth-scroll.js' %}"></script>
        <!-- headroom -->
        <script src="{% static 'plugins/headroom/headroom.js' %}"></script>
        <!-- reading time -->
        <script src="{% static 'plugins/reading-time/readingTime.min.js' %}"></script>
    </body>
</html>