{% load static %}

<div class="bg-secondary section mt-3 bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <a class="" href="{% url 'blog:index' %}">
                    <img src="https://img.icons8.com/windows/32/000000/django.png" />
                    Blog Django
                </a>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <h6>Created By</h6>
                <ul class="list-unstyled">
                    <li class="font-secondary text-dark">Gustavo Ferreira Souza</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <h6>Links</h6>
                <ul class="list-unstyled">
                    <li class="font-secondary text-dark">
                        <a href="https://github.com/Gustavo-F/blog-django-girls" target="_blank">Repository</a>
                    </li>
                    <li class="font-secondary text-dark">
                        <a href="https://github.com/gustavo-f" target="_blank">GitHub</a>
                    </li>
                    <li class="font-secondary text-dark">
                        <a href="https://www.linkedin.com/in/gustavo-ferreira-b069541b1/" target="_blank">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="text-center pb-3">
    <p class="mb-0">Copyright ©
        <script>
            var CurrentYear = new Date().getFullYear()
            document.write(CurrentYear)
        </script> 
        a theme by 
        <a href="https://themefisher.com/" target="_blank">themefisher.com</a>
    </p>
</div>